*.class
*/target/*
*/.project
*/.settings

# Package Files #
*.jar
*.war
*.ear
agent/qflexce-agent-api/.settings
agent/qflexce-agent-business/.settings
agent/qflexce-agent-web/.settings
wmq/wmq-ws-business/.settings
wmq/wmq-ws-api/.settings
agent/qflexce-agent-web/target
